#nav{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 10%;
    width: 100vw;
    background-image: url(background.png);
    background-position: 0;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: 2;
}
#homeicon{
    color: black;
    font-size: 16pt;
}
#dribbleicon, #behanceicon, #linkedinicon{
    color: black;
    font-size: 16pt;
    width: auto;
}
#dribbleicon, #behanceicon{
    margin-right: 2.5%;
}
#sociallinks{
    /* border: 2px black solid; */
    min-width: 10%;
    position: absolute;
    right: 5%;
    top: 40%;
}
#homeicon:hover{
    color: #891bfd;
    font-size: 18pt;
}
#homebtn{
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 16pt;
    width: auto;
    height: auto;
}
#homebtn:active{
    text-decoration: none;
}
#homebtn:visited{
    text-decoration: none;
}
#nav2{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 10%;
    width: 100vw;
    background-color: rgb(255, 248, 239);
    z-index: 2;
    position: relative;
}
#nav2 #homebtn1{
    width: 5%;
    position: absolute;
    right: 5%;
    top: 40%;
}
#nav2 #sociallinks{
    width: 5%;
    position: absolute;
    right: 5%;
    top: 40%;
}
#logo{
    margin: 1%;
}
#left::-webkit-scrollbar {
    display: none;
}
#name{
    font-family: 'Proxima Nova';
    font-size: 300%;
}
#tagline{
    font-family: 'Proxima Nova';
}
#headerimg{
    width: 100%;
    border: 2px solid black;
}

#s1 {
    display: flex;
    flex-direction: row;
    background-image: url(background.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    border-bottom: black 2px solid;
}
.bold{
    font-weight: bold;
}
#introtextp{
    font-size: 74px;
    padding: 10%;
    padding-bottom: 0;
    font-family: 'Proxima Nova';
    font-weight: bold;
}
#introtextp2{
    font-size: 60px;
    padding: 10%;
    font-family: 'Proxima Nova';
}
#introtextp2 i{
    font-size: 10pt;
}
#left{
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
}
#scroll{
    position: fixed;
    color: black;
    bottom: 10px;
    right: 52%;
    z-index: 1;
    font-size: 16pt;
}
#scroll::part(svg){
    color: black;
}
body::-webkit-scrollbar{
    display: none;
}
#right {
    width: 50vw;
    height: 100vh;
    border-left: 2px solid black;
    justify-content: center;
    /* gap: 5%; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@keyframes imgLoop {
    from {transform:translateY(-400%);}
    to {transform: translateY(500%) ;}
  }
  @keyframes imgLoop2 {
    from {transform:translateY(-800%);}
    to {transform: translateY(500%) ;}
  }
@keyframes textLoop {
    from {transform:translateX(-100%);}
    to {transform: translateX(100%) ;}
}
#s1myprojectstext{
    font-size: 150px;
    left: 80%;
    display: flex;
    white-space: nowrap;
    max-width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    rotate: -90deg;
    animation-name: textLoop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-family: 'Proxima Nova';

}
#yogaimg{
    background-image: url(Open\ Screen.png);
    background-position: 2;
    background-size: cover;
    background-repeat: no-repeat;
}
#goodlifeimg{
    background-image: url(Home\ Screen.png);
    background-position: 2;
    background-size: cover;
    background-repeat: no-repeat;
}
#poolsnfallsimg{
    background-image: url(Landing\ Page\ 11.png);
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
#ausimg{
    background-image: url(aus1.png);
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
#img1, #yogaimg, #goodlifeimg, #poolsnfallsimg, #ausimg {
    /* background-color: white; */
    width: 25vw;
    height: 30vh;
    margin: auto;
    margin-bottom: 5%;
    /* border: black 2px solid; */
    animation-name: imgLoop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#s2{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 248, 239);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    gap: 10%;
    overflow-x: none;
    overflow-y: auto;
    z-index: 2;
    position: absolute;
}
#s2body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}
#allimages{
    display:flex;
    width: 40vw;
    height: 100%;
}
#showreels{
    width: 40vw;
    height: 60vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 2.5%;
}
#showreels p{
    font-family: 'Proxima Nova';
    color: black;
    font-size: 16pt;
}
#s2 #images{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}

#s2 #images2{
    height: 40%;
    width: 80%;
    /* display: flex; */
}
#img2 {
    background-image: url(Video.png);
    width: 350px;
    height:250px;
    /* margin-bottom: 100px; */
    border: black 2px solid;
    background-position-x: center;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}
#img3 {
    background-image: url(Group\ Info.png);
    width: 350px;
    height:250px;
    /* margin-bottom: 100px; */
    border: black 2px solid;
    background-position-x: center;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#img3:hover{
    scale: 110%;
}
#img2:hover{
    scale: 110%;
    z-index: 1;
}
#img4:hover{
    scale: 110%;
    z-index: 1;
}
#img5:hover{
    scale: 110%;
}
#img4 {
    background-image: url(First\ section.png);
    width: 350px;
    height:250px;
    /* margin-bottom: 100px; */
    border: black 2px solid;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#img5 {
    background-image: url(aus3.png);
    width: 350px;
    height:250px;
    /* margin-bottom: 100px; */
    border: black 2px solid;
    background-position: 0;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}
#s2 h1{
    font-size: 150px;
    left: 0;
    font-family: 'Proxima Nova';
    border-bottom: 2px black solid;
    margin: 0;
}


/* yoga app  */
#yogaS1{
    display: flex;
    padding: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    justify-content: center;
    background-color: rgb(255, 248, 239);
}
#yogapage{
    /* background-image: linear-gradient(to top, #891bfd, white, white); */
    background-color: rgb(255, 248, 239);

}
#homebtn1{
    position: absolute;
    left: 5%;
    top: 4%;
    font-size: 16pt;
    width: auto;
    height: auto;
}
#homebtn1:hover{
    color: #891bfd;
    font-size: 18pt;
}
#homebtn1:active{
    text-decoration: none;
}
#homebtn1:visited{
    text-decoration: none;
}
#topbtn{
    position: fixed;
    z-index: 1;
    right: 3%;
    bottom: 10%;
    text-align: center;
    padding: 1%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    border: black 2px solid;
    border-radius: 46px;
}
#topbtn:hover{
    border: #891bfd 2px solid;
}

#topbtn1{
    color: black;
    font-size: 12pt;
}
#headerimgyoga1{
    max-width: 30%;
    max-height: 85%;
    margin-left: 20%;
    margin-top: 5%;
}
#headerimgyoga2{
    max-width: 30%;
    max-height: 85%;
    margin-left: 2%;
    margin-top: 5%;
}
#headerimgyoga3{
    width: 30%;
    height: 85%;
    margin-left: 2%;
    margin-top: 5%;
}
#s1text{
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 2.5%;
}
#s1imgs{
    width: 62.5%;
    height: 60vh;
    /* border: black 2px solid; */
}
#yogaS2{
    background-color: rgb(255, 248, 239);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 50%;
    padding: 2.5%;
    justify-content: center;
}

#s21{
    font-family: 'Proxima Nova';
    font-size: 16pt;
    margin-right: 2.5%;
    width: 30%;
}
#s22{
    font-family: 'Proxima Nova';
    font-size: 16pt;
    margin-right: 2.5%;
    width: 30%;

}
#s2img{
    max-width: 80%;
    margin-left: 30%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
#s2img:hover{
    opacity: 0;
}
#s2img2{
    position: absolute;
    z-index: 1;
    max-width: 80%;
    left: 0;
    top: 0;
    margin-left: 30%;
    height: 100%;
}
#imgdiv{
    width: 30%;
    position: relative;
    justify-content: center;
}
#yogaS3{
    background-color: rgb(255, 248, 239);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 40%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding: 2.5%;
    padding-bottom: 8%;
}
#yogaS3 h1{
    font-family: 'Proxima Nova';
    font-size: 200%;
    margin-left: 2.5%;
}
#yogaS3 h2{
    font-family: 'Proxima Nova';
    font-size: 200%;
}
#yogaS3 #box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#p1, #p2, #p3{
    border-radius: 100%;
    border: 2px solid #891bfd;
    color: #891bfd;
    width: 90px;
    height: 90px;
    margin-right: 20%;
    text-align: center;
}
#p4{
    border-radius: 100%;
    border: 2px solid #891bfd;
    color: #891bfd;
    width: 90px;
    height: 90px;
    text-align: center;
}
#p1body, #p2body, #p3body, #p4body{
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    color: black;
    width: 90%;
    position: absolute;
    margin-top: 100px;
    font-size: 16pt;
    font-family: 'Proxima Nova';
}
#p1:hover {
    border-color: black;
    color: white;
    background-color: #891bfd;
}
#p1:hover + #p1body{
    visibility: visible;
}
#p2:hover {
    border-color: black;
    color: white;
    background-color: #891bfd;
}
#p2:hover + #p2body{
    visibility: visible;
}
#p3:hover {
    border-color: black;
    color: white;
    background-color: #891bfd;
}
#p3:hover + #p3body{
    visibility: visible;
}
#p4:hover {
    border-color: black;
    color: white;
    background-color: #891bfd;
}
#p4:hover + #p4body{
    visibility: visible;
}

#yogaS4{
    background-color: rgb(255, 248, 239);
    display: flex;
    font-family: 'Proxima Nova';
    justify-content: center;
    /* margin-top: 8%; */
    width: auto;
    height: 50%;
    padding: 2.5%;
}
#persona{
    width: 62.5%;
    display: flex;
}
#personaimg{
    background-image: url(persona2.jpg);
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 2%;
}
#persona p{
    font-size: 16pt;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
#tools{
    width: 30%;
}
#tools p{
    font-size: 16pt;
}

#yogaS5{
    background-color: rgb(255, 248, 239);
    overflow: visible;
    width: auto;
    height: 80%;
    justify-content: center;
    display: flex;
}
#yogaS5 sl-carousel{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 248, 239);
}
#yogaS5 sl-carousel img{
    min-width: 10vw;
    max-width: 20vw;
    max-height: 60vh;
}
sl-carousel::part(navigation-button){
    width: 4vw;
    font-size: 18pt;
}
sl-carousel::part(scroll-container){
    justify-content: center;
}
#buttons{
    background-color: rgb(255, 248, 239);
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    padding-left: 25%;
    padding-right: 25%;

}
#nextbtn{
    font-family: 'Proxima Nova';
    font-weight: bold;
    text-decoration: none;
    width: auto;
    color: #891bfd;
    height: auto;
    text-align: center;
    margin-bottom: 5vh;
    padding: 3%;
    /* background-color: #891bfd; */
    border: #891bfd 2px solid;
    border-radius: 100px;
}
#prevbtn{
    font-family: 'Proxima Nova';
    font-weight: bold;
    text-decoration: none;
    color: #891bfd;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 5vh;
    padding: 3%;
    /* background-color: #891bfd; */
    border: #891bfd 2px solid;
    border-radius: 100px;
}
#prevbtn:hover, #nextbtn:hover{
    background-color: #891bfd;
    border: 2px black solid;
    color: white;
}
#nextbtn:visited{
    text-decoration: none;
}
#nextbtn:active{
    text-decoration: none;
}
#personaimgyoga{
    background-image: url(persona2.jpg);
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 2%;
}
/* Aus Conservation */
#headerimgaus1{
    max-width: 100%;
    max-height: 85%;
    margin-left: 20%;
    margin-top: 5%;
}
#s1imgsaus{
    width: 62.5%;
    height: 60vh;
}
#s2imgaus{
    max-width: 120%;
    max-height: 60%;
    z-index: 2;
    position: absolute;

}
#s2imgaus:hover{
    opacity: 0;
}
#s2img2aus{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 120%;
    max-height: 60%;
    z-index: 1;
}

#personaimgaus{
    background-image: url(persona3.jpg);
    /* background-position: 40%; */
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 2%;
}


/* Goodlife */
#headerimggoodlife{
    max-width: 120%;
    height: 105%;
    margin-left: 20%;
    margin-top: 5%;
}
#sociallink1, #sociallink2{
    border: black 2px solid;
    border-radius: 35px;
    max-width: 90px;
    height: auto;
    padding: 5px;
    text-align: center;
    transition: .5s ;
}
#sociallink1:hover, #sociallink2:hover{
    background-color: #891bfd;
    scale: 110%;
}
#sociallink1:hover a, #sociallink2:hover a{
    color: white;
}
#sociallink1 a, #sociallink2 a{
    color: black;
    text-decoration: none;
    font-family: 'Proxima Nova';
}
#sociallink1 a:active, #sociallink1 a:visited,#sociallink2 a:active, #sociallink2 a:visited{
    text-decoration: none;
}
#sociallink2{
    margin-top: 2%;
}
#s1imggoodlife{
    width: 62.5%;
    height: 60vh;
    /* border: black 2px solid; */
}
#s2imgg{
    max-width: 150%;
    margin-left: 30%;
    height: 100%;
    z-index: 2;
    position: absolute
}
#s2imgg:hover{
    opacity: 0;
}
#s2img2g{
    position: absolute;
    z-index: 1;
    max-width: 150%;
    left: 0;
    top: 0;
    margin-left: 30%;
    height: 100%;
}
#imgdiv{
    width: 30%;
    position: relative;
    justify-content: center;
}
#personaimggood{
    background-image: url(persona4.jpg);
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 2%;
}
/* Pools and Falls */
#headerimgpools1{
    max-width: 100%;
    max-height: 85%;
    margin-left: 20%;
    margin-top: 5%;
}
#headerimgpools2{
    min-width: 14%;
    height: 150%;
    top: 13%;
    right: 11.8%;
    z-index: -1;
    position: absolute;
}
#s1imggoodlife{
    width: 62.5%;
    height: 60vh;
    /* border: black 2px solid; */
}
#s2imgpools{
    max-width: 120%;
    margin-left: 30%;
    max-height: 100%;
    z-index: 2;
    position: absolute;
}
/* #s2imgpools:hover{
    opacity: 0;
} */
#s2img2pools{
    position: absolute;
    z-index: 1;
    max-width: 120%;
    left: 0;
    top: 24%;
    margin-left: -16%;
    max-height: 76%;
}
#imgdiv{
    width: 30%;
    position: relative;
    justify-content: center;
}
#poolsS5{
    background-color: rgb(255, 248, 239);
    overflow: visible;
    width: auto;
    height: 80%;
    justify-content: center;
    display: flex;
}
#poolsS5 sl-carousel{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 248, 239);
    /* z-index: 0; */
}
#poolsS5 sl-carousel img{
    width: 40vw;
    height: auto;
}
#personaimgpools{
    background-image: url(persona1.jpg);
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 2%;
}
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    scroll-behavior: smooth; 
}
