#left{
    width: 50vw;
    height: 100vh;
    background-color: blue;
}
#right {
    width: 50vw;
    height: 100vh;
    background-color: yellow;
}
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}